@model List<User> 

<h4 class="text-center">Функция агрегации Match по коллекции "user"</h4>
<table class="account_booking">
   <tr class="account_booking_item">
       <td><span>Имя</span></td>
       <td><span>Фамилия</span></td>
       <td><span>Номер телефона</span></td>
       <td><span>Почта</span></td>
       <td><span>Роль</span></td>
   </tr>
   @foreach (var user in Model)
   {
       <tr class="account_booking_item">
           <td><span>@user.UserName</span></td>
           <td><span>@user.Surname</span></td>
           <td><span>@user.PhoneNumber</span></td>
           <td><span>@user.Email</span></td>
           <td><span>@user.Role</span></td>
       </tr>
   }
</table> 