@model List<User>

<tr class="account_booking_item">
    <td><span>Идентификатор</span></td>
    <td><span>Имя</span></td>
    <td><span>Фамилия</span></td>
    <td><span>Номер телефона</span></td>
    <td><span>Почта</span></td>
    <td><span>Пароль</span></td>
    <td><span>Роль</span></td>
</tr>
@foreach (var user in Model)
{
    <tr class="account_booking_item">
        <td><span>@user.Id</span></td>
        <td><span>@user.UserName</span></td>
        <td><span>@user.Surname</span></td>
        <td><span>@user.PhoneNumber</span></td>
        <td><span>@user.Email</span></td>
        <td><span>@user.Password</span></td>
        <td><span>@user.Role</span></td>
    </tr>
}